# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# uv / build
dist/
build/
*.egg-info/

/check
/logs